html{
    margin: 0;
    padding: 0;
}
body{
    background: url(images/bg.png);
}
div{
    text-align: center;
}
#score{
    color: #FFF;
    display: inline-block;
}
canvas{
    opacity: 0.8;
    display: block;
    margin:0 auto;
}